
h1
{
    color: lightblue;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 550px;
} 

#image1
{
    margin-left: 265px;
}

#image2
{
    size: 67px;
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 900px;
    padding-bottom: 500px;
}



